@import "tailwindcss";

@config "../tailwind.config.js";

/* Material Symbols Icons */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(/fonts/material-symbols-outlined.ttf) format('truetype');
  font-display: block;
}

@layer base {
  html {
    color-scheme: light;
    scroll-behavior: smooth;
  }
  
  html.light {
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    background-color: #f6f7f8;
    color: #111418;
    font-family: 'Manrope', 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html.dark body {
    background-color: #101922;
    color: white;
  }

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

@layer utilities {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}
